<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8" />
<title>Главная страница</title>
<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding: 20px;
    text-align: center;
}
a {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    transition: background-color 0.3s;
}
a:hover {
    background-color: #0056b3;
}
</style>
</head>
<body>
<h1>Добро пожаловать {{username}}</h1>
<a href="{{ url_for('divide_files') }}">Посмотреть файлы</a>
<a href="{{ url_for('upload') }}">Загрузить файл</a>
</body>
</html>